PORT=8084
APPLICATION_NAME=payment-service

POSTGRES_DB=payment_db
POSTGRES_USER=payment_user
POSTGRES_PASSWORD=change_me

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

RESERVATION_SERVICE_URL=http://reservation-service:8082
